fastapi
uvicorn[standard]
python-multipart
starlette
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt
faster-whisper
numpy
aiofiles
anthropic
python-docx
httpx
psycopg2-binary
soundfile
slowapi
passlib[bcrypt]
groq
google-generativeai
itsdangerous
fastapi-mail
ffmpeg-python
alembic
boto3
requests
sentry-sdk[fastapi]
